body {
  font-family: "Times New Roman", Times, serif;
  background: url(pic1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-family: "Times New Roman", Times, serif;
}

h4 {
  font-family: "Times New Roman", Times, serif;
}

p {
  font-size: 20px;
  color: white;
}

b {
  font-size: 20px;
  color: white;
}

a {
  font-size: 20px;
  color: white;
}

li {
  font-size: 22px;
  color: white;
}

blockquote {
  font-size: 20px;
  color:white;
}

hr {
  border-top: 2px solid white;
}

.paragraph {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0,0,0,0.6);
}

.bibliography {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

